[Unit]
Description=Todo Application
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /var/www/html/todo-app/todo-enhanced-0.0.1-SNAPSHOT.jar
ExecStop=/usr/bin/pkill -f 'todo-enhanced-0.0.1-SNAPSHOT.jar'
Restart=always
User=root
Group=root
WorkingDirectory=/var/www/html/todo-app

[Install]
WantedBy=multi-user.target
